$primary: #4f01b0 !default;
$secondary: #b591f9 !default;
$light-gray: #ccd2dd !default;
$green: #58ff9d !default;

$default-colors: () !default;
$default-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $green,
    "light-gray": $light-gray,
  ),
  $default-colors
);
