$primary: #4f01b0 !default;
$secondary: #b591f9 !default;
$light-gray: #ccd2dd !default;
$light-dark-purp: rgba(184, 155, 223, 1) !default;
$green: #58ff9d !default;
$nero: #222222 !default;


$default-colors: () !default;
$default-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $green,
    "light-gray": $light-gray,
    "light-dark-purp": $light-dark-purp,
    "nero": $nero,
  ),
  $default-colors
);

$font-sizes: () !default;
$font-sizes: map-merge(
  (
    10: 10px,
    12: 12px,
    14: 14px,
    16: 16px,
    18: 18px,
    20: 20px,
    22: 22px,
    24: 24px,
    26: 26px,
    28: 28px,
    30: 30px,
    32: 32px,
    34: 34px,
    36: 36px,
    38: 38px,
    40: 40px,
    48: 48px,
    60: 60px,
    72: 72px
  ),
  $font-sizes
);